@import "variables";

$content-padding: 2%;

.main-container {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: $background-gray-color;
  color: $bean-color;
  display: flex;
  flex-flow: row nowrap;
  flex-basis: auto;
  align-items: stretch;
}

.sidebar-container {
  flex-grow: 1;
  padding: $content-padding;
  background-color: $tomato-color;
}

.router-outlet-container {
  display: flex;
  flex-direction: column;
  flex-grow: 19;
  align-items: stretch;

  .container-header {
    padding: 0 $content-padding;
    background-color: $background-white-color;
  }

  .container-content {
    padding: $content-padding;
  }
}
